:root {
  --white: #ffffff;
  --light-gray: #c9c9c9;
  --dark-gray: #6c6c6c;
  --gray: #afafaf;
  --bg-color: #f9fafb;
  --accent-color: #4b6b6d;
  --btn-hover-color: #3f5d5e;
  --invalid-input-color: #c23838;
  --focus-input-color: #1d4ed8;
  --shadow-color: #dcddde;
}

@font-face {
  font-family: 'nagayama kai';
  src: url(./fonts/nagayama_kai08-webfont.woff2) format("woff2"),
       url(./fonts/nagayama_kai08-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(./fonts/inter-variablefont_slntwght-webfont.woff2) format("woff2"),
       url(./fonts/inter-variablefont_slntwght-webfont.woff) format("woff");
}

/*
  Josh Comeau's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Inter', Arial, Helvetica, sans-serif
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Layout */

body {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.main {
  width: 65%;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  padding: 2vh 0;
}

.sidebar {
  color: var(--white);
  width: 35%;
  position: relative;
  display: flex;
  justify-content: center;
  background-image: url(./images/cafe-background.jpg);
  background-size: cover;
  background-position: left;
}

/* Sidebar area */

.logo {
  height: 100px;
  width: 100%;
  background-color: rgb(37, 39, 43, 70%);
  position: absolute;
  top: 20vh;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  height: 100%;
}

.logo h1 {
  font: 3rem 'nagayama kai';
}

.sidebar > p {
  position: absolute;
  bottom: .8rem;
  font-size: .8rem;
}

.sidebar > p a {
  color: inherit;
}

.sidebar > p a:hover {
  color: var(--light-gray);
}

/* Description area */

em {
  margin-right: .2rem;
}

.description-wrapper p,
.form-header-wrapper h2 {
  font-size: 1.2rem;
  font-weight: bold;
}

.description-wrapper p:not(:last-child) {
  margin-bottom: 1.2rem;
}

.description-wrapper {
  padding: 0 15vw 5vh 3vw;
}

/* Form area */

.form-wrapper {
  width: 100%;
  padding: 0 15vw 2.5vh 3vw;
  background-color: var(--white);
  box-shadow: 0px 2px 5px 1px var(--shadow-color);
}

.form-header-wrapper {
  padding: 2.5vh 0;
  display: flex;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  gap: 5vw;
}

form .form-row:not(:last-child) {
  margin-bottom: 15px;
}

label {
  text-transform: uppercase;
  display: block;
  font-size: .8rem;
  letter-spacing: .1rem;
}

input {
  border-radius: 5px;
  border: 1px solid var(--gray);
}

input:invalid:not(:placeholder-shown) {
  border: 1px solid var(--invalid-input-color);
}

input:focus {
  border: 1px solid var(--focus-input-color);
  box-shadow: 2px 2px 5px 2px var(--shadow-color);
  outline: none;
}

form p {
  color: #998d5f;
}

/* Bottom area */

.btn-wrapper {
  padding: 4vh 15vw 0 40px;
}

button {
  background-color: var(--accent-color);
  color: var(--white);
  padding: 10px 50px;
  border-radius: 8px;
  border: 0;
  cursor: pointer;
}

button:hover {
  background-color: var(--btn-hover-color);
}
.btn-wrapper p {
  margin-top: 4vh;
}

.btn-wrapper a {
  color: var(--accent-color);
  text-decoration: none;
  font-weight: 800;
}

.btn-wrapper a:hover {
  text-decoration: underline;
}